<div class="card text-center">
    <div class="card-header">
        Tính Tiền Thưởng Tết Nguyên Đán
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label>Họ và tên:</label>
                <input class="form-control" [(ngModel)]="thongtin.hoten" [ngModelOptions]="{standalone: true}">
            </div>
            <div>
                <label> Lương </label>
                <div class="input-group">
                    <input type="text" class="form-control" [(ngModel)]="thongtin.luong"
                        [ngModelOptions]="{standalone: true}">
                    <div class="input-group-append">
                        <span class="input-group-text">VNĐ</span>
                    </div>
                </div>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Nam"
                    [(ngModel)]="thongtin.gioitinh" [ngModelOptions]="{standalone: true}">
                <label class="form-check-label">Nam</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Nu"
                    [(ngModel)]="thongtin.gioitinh" [ngModelOptions]="{standalone: true}">
                <label class="form-check-label">Nu</label>
            </div>
            <div class="form-group">
                <label>Độ tuổi</label>
                <select class="custom-select" [(ngModel)]="thongtin.rate" [ngModelOptions]="{standalone: true}">
                    <option *ngFor="let tuoi of list" value="{{tuoi.rate}}">{{tuoi.age}}</option>
                </select>
            </div>
        </form>
    </div>
    <div class="card-footer text-muted">
        Tiền Thưởng: <b>{{Tinh()}}</b>
    </div>
</div>