<!-- <h1 class="text-center"> Thêm Sinh Viên - Sửa Thông tin Sinh Viên</h1>
<form>
    <div class="form-group row">
        <label for="inputFullName" class="col-sm-2-form-label">Họ Và Tên</label>
        <div class="col-sm-10">
            <input type="text" [(ngModel)]="formstudent.fullName" placeholder="Họ và tên"
                [ngModelOptions]="{standalone:true}">
        </div>
    </div>

    <div class="form-group row">
        <label for="inputBirthday" class="col-sm-2-form-label">Ngày sinh:</label>
        <div class="col-10">
            <input class="form-control" type="date" [(ngModel)]="formstudent.birthday"
                [ngModelOptions]="{standalone:true}">
        </div>
    </div>

    <div class="form-group row">
        <label for="inputMark" class="col-sm-2-form-label">Điểm</label>
        <div class="col-sm-10">
            <input type="number" 
            [(ngModel)]="formstudent.mark" 
            placeholder="Điểm" [ngModelOptions]="{standalone:true}">
        </div>
    </div>
</form>

<div>
    <button type='button' class="btn btn-primary btn-block"> Thêm </button>
    <button type='reset' class="btn btn-danger btn-block"> Hủy </button>
</div>

<div>
    <button class="btn btn-primary btn-block"> Lưu </button>
    <button type="button" class="btn btn-danger btn-block"> Hủy </button>
</div> -->